<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
var gitalk = new Gitalk({
  clientID: 'da7955e16f9ef95917f9',
  clientSecret: '4f8b1845e91ab09b1c8a010639b1f62bf554c940',
  repo: 'fy2462.github.io',
  owner: 'fy2462',
  admin: ['fy2462'],
  id: '{{ page.title }}',
  proxy: 'https://netnr-proxy.cloudno.de/https://github.com/login/oauth/access_token',
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>
